@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
body {
    background-color: rgb(255, 179, 218);
    font-family: "Hachi Maru Pop";
}
h1 {
    color: rgb(255, 203, 230);
    font-size: 50px;
    text-align: center;
    background-color: rgb(230, 108, 181);
    border-radius: 5px;
    vertical-align: text-top;
    display: flexbox;
    align-items: center;
}
h2 {
    color: rgb(252, 53, 156);
    font-size: 30px; 
    text-align: center;
    background-color: rgb(230, 108, 181);
    border-radius: 5px;
}
p {
    border-radius: 5px;
    background-color: rgb(230, 108, 181);
    padding: 30px;
    text-align: center;
    color: aliceblue;
}
img {
    border: 2px solid rgb(205, 165, 195); 
    border-radius: 5px;
    margin: 5px;
}
#menuitem {
    text-align:center;
    align-content: center;
    border-radius: 5px;
    flex-grow: 1;
    background-color: rgb(224, 136, 195);
    padding: 5px;
    margin: 5px;
    color:white;
    font-weight: bold;
    text-decoration: none;
}
#imagecontainer {
    width: min(250px, 22%);
    border-radius: 10px;
    display:flex;
    clip: auto;
    align-items: center;
    text-align: center;
    flex-direction: column;
    flex-shrink: 1;
    background-color: rgb(224, 136, 195);
    padding: 5px;
    margin: 5px;
    color: aliceblue;
}
#imagecontainer:hover{ 
    animation: imagecontainerselect 0.5s forwards;
}
heading {
    margin:5px;
    color:aliceblue;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
#list-text {
    color: aliceblue;
    font-size: large;
    margin-right: 30px;
}
#paragraph-box{
    background-color: rgba(50,50,50,0.5);
    margin: 10px;
    box-shadow: 6px 6px 6px rgba(0,0,0,0.2);
    border-radius: 5px;
    text-align: justify;
    text-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: min(600px, 60%);
}

@keyframes imagecontainerselect {
    from {background-color: rgb(224, 136, 195); box-shadow: 0px 0px 0px rgba(0,0,0,0.1);}
    to {background-color: rgb(230, 108, 181); box-shadow: 8px 8px 8px rgba(0,0,0,0.1);}
}

#menuitem:hover{
    animation: 1s highlighteffect forwards;
}

@keyframes highlighteffect{
    from {
        background-color: rgb(224, 136, 195);
        box-shadow: 0px 0px 0px rgba(0,0,0,0.1);
    }
    to {
        background-color: rgb(246, 105, 199);
        box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    }
}